POSTHOG_PROJECT_TOKEN=phc_zzqMWWUxVruftE3vSaqfwnLKtz8C7vLWDhEAm6Abpo9K
POSTHOG_HOST=https://us.i.posthog.com

EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c21hc2hpbmctY2hvdy00OC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_Di19lJwmcjKgSVeSkg10uvmjcFCXj2GTFMmaWktgcw